@tailwind components
@tailwind utilities

.seat
  text-align: center
  border: 1px solid lightgrey
  border-radius: 0.3em

  &.seat--state-free
    &:hover
      cursor: pointer
      border-color: grey

  &.seat--state-sold
    background-color: lightgrey

  &.seat--selected
    background-color: lightgreen

.hall
  &:hover
    background-color: #ffffcc

.seats__selected-numbers
  display: flex
  justify-content: space-between
  align-items: center

.selected-seat
  display: flex
  justify-content: space-around

.ticket
  display: flex
  flex-direction: column
  padding: 5px
  border: 1px solid lightgrey
  border-radius: 15px
  align-items: start

.ticket__number
  position: absolute
  padding: 5px
  border-right: 1px solid lightgrey
  border-bottom: 1px solid lightgrey
  border-radius: 8px

.ticket__data
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-around

.ticket__qr-code
  width: 10em

.ticket__seat
  padding: 30px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.ticket__actions
  width: 100%
  display: flex
  justify-content: space-around

.ticket__actions__elem
  width: 100%
  padding: 5px
  text-align: center
  border-top: 1px solid lightgrey
  border-radius: 10px

.ticket__actions__elem--left
  border-radius: 10px 10px 0px
  border-right: 1px solid lightgrey

.ticket__actions__elem--right
  border-radius: 10px 10px 10px 0px
  border-left: 1px solid lightgrey
