.seat
  text-align: center
  border: 1px solid grey
  border-radius: 0.3em

  &.seat--state-free
    &:hover
      cursor: pointer
      border-color: lightgreen

  &.seat--state-sold
    background-color: lightgrey

  &.seat--selected
    background-color: lightgreen

.content-center
  display: flex
  justify-content: center

.hall
  &:hover
    background-color: #ffffcc
