@tailwind components
@tailwind utilities

.seat
  text-align: center
  border: 1px solid lightgrey
  border-radius: 0.3em

  &.seat--state-free
    &:hover
      cursor: pointer
      border-color: grey

  &.seat--state-sold
    background-color: lightgrey

  &.seat--selected
    background-color: lightgreen

.hall
  &:hover
    background-color: #ffffcc

.seats__selected-numbers
  display: flex
  justify-content: space-between
  align-items: center

.selected-seat
  display: flex
  justify-content: space-around

.tickets
  display: flex
  flex-wrap: wrap
  align-items: space-between
  justify-content: space-around

.tickets__elem
  width: 48%
  display: flex
  flex-direction: column
  border: 1px solid lightgrey
  border-radius: 15px

  &:hover
    & .tickets__number
      background: white
      visibility: visible

.tickets__number
  position: absolute
  visibility: hidden
  margin: 0.1em
  padding: 0.2em
  border-right: 1px solid lightgrey
  border-bottom: 1px solid lightgrey
  border-radius: 8px

.tickets__data
  width: 100%
  display: flex
  justify-content: space-around

.tickets__qr-code
  width: 40%

.tickets__seat
  width: 40%
  padding: 12%
  display: flex
  flex-direction: column
  justify-content: center

.tickets__actions
  width: 100%
  display: flex
  justify-content: space-around

.tickets__action
  width: 100%
  padding: 5px
  text-align: center
  border-top: 1px solid lightgrey
  border-radius: 10px

.tickets__action--left
  border-radius: 10px 10px 0px
  border-right: 1px solid lightgrey

.tickets__action--right
  border-radius: 10px 10px 10px 0px
  border-left: 1px solid lightgrey

@media (max-width: 640px)
  .tickets__qr-code
    width: 100%
    border-radius: 15px

  .tickets__seat
    padding: 12% 5% 12% 5%

  .tickets__data
    display: flex
    flex-direction: column
    align-items: center
