<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "seat-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :number %>
  <%= number_input f, :number %>
  <%= error_tag f, :number %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
