<%= if @free do %>
  <div
    style="width: 2em;"
    class="seat seat--free <%= if @selected do %> <%= "seat--selected" %> <% end %>"
    phx-click="select"
    onclick=""
    phx-value-seat_id="<%= @seat.id %>">
    <%= @seat.number %>
  </div>
<% else %>
  <div
      style="width: 2em;"
      class="seat <%= if @reserved do %> <%= "seat--reserved" %> <% else %> <%= "seat--sold" %> <% end %>">
    <%= @seat.number %>
  </div>
<% end %>
