<div style="display: flex; flex-direction: column;">
  <%= for seats2 <- @seats do %>
    <div style="display: flex; justify-content: space-around;">
      <%= for seat <- seats2 do %>
          <%= live_component @socket, CinemaWeb.SeatLive.SeatComponent, seat: seat, hall: @hall %>
      <% end %>
    </div>
    <br />
  <% end %>
</div>
