<%= if @free do %>
  <%= live_redirect to: Routes.seat_show_path(@socket, :show, @hall.id, @seat) do %>
    <div style="width: 2em;" class="seat seat--state-free">
      <%= @seat.number %>
    </div>
  <% end %>
<% else %>
  <div style="width: 2em;" class="seat seat--state-sold">
    <%= @seat.number %>
  </div>
<% end %>
