<%= if @free do %>
  <%#= live_redirect to: Routes.seat_show_path(@socket, :show, @hall.id, @seat) do %>
    <div
      style="width: 2em;"
      class="seat seat--state-free <%= if @selected do %> <%= "seat--selected" %> <% end %>"
      phx-click="select"
      phx-value-seat_id="<%= @seat.id %>">
      <%= @seat.number %>
    </div>
  <%# end %>
<% else %>
  <div style="width: 2em;" class="seat seat--state-sold">
    <%= @seat.number %>
  </div>
<% end %>
